<div id="<%= dom_id event_invitation %>">
  <p>
    <strong>User invited:</strong>
    <%= event_invitation.invited_user_id %>
  </p>

  <p>
    <strong>Invited event:</strong>
    <%= event_invitation.invited_event_id %>
  </p>

</div>
