<h1>New event invitation</h1>
<%= turbo_frame_tag 'invite_form_tag' do%>
  <%= render "form", event_invitation: @event_invitation %>
<% end %>
<br>

<div>
  <%= link_to "Back to event invitations", event_invitations_path %>
</div>
